/* not-found-screen.module.css */
.page-not-found {
  /* Стили для корневого элемента */
  height: 100vh;
}

.page-not-found-container {
  /* Стили для контейнера */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-main-not-found {
  /* Стили для основного контента */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.not-found {
  /* Стили для блока с информацией об ошибке */
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
  max-width: 700px;
  font-weight: bold;
}

.not-found-title {
  /* Стили для заголовка ошибки */
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 168px;
}

.not-found-text {
  /* Стили для текста ошибки */
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 40px;
}

.not-found-description {
  /* Стили для описания ошибки */
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
  font-size: 22px;
  color: rgba(0,0,0,0.6);
}

.not-found-button {
  /* Стили для кнопки "Back to home" */
  background-color: #4481c3;
  color: #ffffff;
  padding: 16px 32px 12px;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 24px;
}
